{% assign announcements = site.data.announcements | sort: 'date' | reverse %}
{% assign msg = announcements[0] %}

<div class="alert alert-primary alert-dismissible fade show flex-row d-flex justify-content-between align-items-center" role="alert">
  <div class="p-2">
    <small>
      <strong>Announcements</strong>
      ({{ msg.date | date_to_long_string: "ordinal", "US" }})<br>
      <a href="{% link _pages/announcements.md %}">{{ msg.title }}</a>
    </small>
  </div>
  <div class="p-2">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>