<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Announcement (May 20th 2022): </strong> AdCONIP 2022 registration is open. <a href="http://controls.papercept.net/registration/" role="button">Register Now</a>.
  <br>Workshops (Aug 7th 2022): <a href="https://adconip2022.org/workshops/#workshop-1-process-data-analytics-and-network-or-flowsheet-reconstruction">Process Data Analytics</a> & <a href="https://adconip2022.org/workshops/#workshop-2-making-reinforcement-learning-a-practical-technology-for-industrial-control">Reinforcement Learning</a>.
  <br>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->