Inquiries about the symposium may be addressed to:

- Bhushan Gopaluni, **Chair**, University of British Columbia, Canada *(bhushan.gopaluni@ubc.ca)*
- Biao Huang, **Co-Chair**, University of Alberta *(biao.huang@ualberta.ca)*
- Ryozo Nagamune, **IEEE Technical Representative**, University of British Columbia, Canada *(ryozo.nagamune@ubc.ca)*
- Sirish Shah, University of Alberta *(sirish.shah@ualberta.ca)*
- Terry Chmelyk, Spartan Controls
- Moncef Chioua, Polytechnique Montréal *(moncef-2.chioua@polymtl.ca)*
- Prashant Mhaskar, McMaster University *(mhaskar@mcmaster.ca)*
- Salim Ahmed, Memorial University *(sahmed@mun.ca)*

For more details, see the AdCONIP 2022 [Organizing Committee](./organizers/).