| Event                      | Due Date                    |
|----------------------------|---------------------------- |
| 6-page Paper Submission    | Jan 31st 2022               |
| 2-page Abstract (Industry) | Jan 31st 2022               |
| Invited Session Proposal   | Jan 31st 2022               |
| Acceptance Notification    | TBA                         |
| Final Paper Uploading      | TBA                         |
| Early-bird Registration    | TBA                         |
| Conference Workshops       | TBA                         |
| Conference Welcome Party   | TBA                         |
| Conference                 | 7th, 8th and 9th August 2022|