| Event                      | Due Date                    |
|----------------------------|---------------------------- |
| 6-page Paper Submission    | Closed - Mar 18th 2022      |
| 2-page Abstract (Industry) | Closed - Mar 18th 2022      |
| Invited Session Proposal   | Closed - Mar 18th 2022      |
| Acceptance Notification    | Closed - May 15th 2022      |
| Final Paper Uploading      | June 15th 2022              |
| Early-bird Registration    | <a href="http://controls.papercept.net/registration/" role="button">June 15th 2022</a>            |
| Conference Workshops       | See [workshops](./workshops)|
| Conference Welcome Party   | TBA                         |
| Conference                 | 7th, 8th and 9th August 2022|
