Registration opening soon:

|                                     | IEEE Member | Non-IEEE Member |
|-------------------------------------|-------------|-----------------|
| Author Registration (one per paper) | $350 (USD)  | $450 (USD)      |
| Attendee Registration               | $50 (USD)   | $100 (USD)      |
| Student                             | $20 (USD)   | $50 (USD)       |
| Workshop - Student                  | $50 (USD)   | $50 (USD)       |
| Workshop - others                   | $100 (USD)  | $100 (USD)      |
